
* {
    margin: 0;
    padding: 0;
}
@import "variables";

@media(max-width:720px) {
  header{
    max-width:calc(100%-32px);
    height:80px;
    z-index:3;
    
     img {
         position: absolute;
         top:10px;
         left:16px;
          width: 24px;
          height: 24px;
        }
   }
   ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:$color-buttomhover;
    
      li{
           
           
           a{ color:$color-extra;
            font-family: $tipografia-general;
            display: block;
            padding: 20px 20px;
            border-right: 1px solid $color-extra;
            text-decoration: none;
          } 
         }}

     .menu{ 
        clear:both;
        max-height:0;
        position: relative;
        z-index:4;
        height:224px;
        width:100vw;
        transition:max-height .2s ease-out;}
         .menu-btn{
        display:none;
      &:checked~{
          .menu{
      max-height:240px;

      }
      
      .menu-icon
        {
        .nav-icon
        { background: transparent;
          &:before {transform:rotate(-45deg);
          top:0;
        }
          &:after{
              transform: rotate(45deg);
             top:0; 
              
          }
           }}}}
    

         .menu-icon {
          cursor: pointer;
          
          float: right;
          padding: 28px 20px;
          position: relative;
          user-select: none;
        &:hover{
            cursor:pointer;}
      
           .nav-icon{
          background-color:$color-primario;
          display:block;
           height:2px;
           width:18px;
          position:relative;
           transition: background .2s ease-out;
           &:before{
           background-color:$color-primario;
          content:'';
           display:block;
           height:100%;
          width:100%;
           transition:all  .2s ease-out;
          position:absolute;
            top:5px;
          }
           &:after{
          background-color: $color-primario;
          content:'';
          display:block;
          height:100%;
          width:100%;
          position:absolute;
          top:5px;
         transition:all  .2s ease-out;
          top:-5px;
         }
       
         }
}
  
  
  
section{
  display : flex;
position: relative;
flex-wrap:wrap;
box-sizing:content-box;
top:-45px;

align-content:center;
flex-direction: column;
z-index:2;
    .intro-desktop{opacity: 0;}
    .intro-mobile{
  width: 288px;
  height: 66px;
  position: absolute;
  left: 16px;
  top: 173px;
  font-family:$tipografia-alternativa ;
  font-size: 14px;
  color: $color-secundario;
  letter-spacing: 0;
   line-height: 22px;
   
  }
  .hello {
   width: 85px;
    height: 73px;
    position: absolute;
    top: 73px;
    left: 16px;
  font-family:$tipografia-general;
  font-size: 36px;
  color: $color-secundario;
  letter-spacing: 0;
  line-height: 42px;
  }
  .world {
    text-decoration: line-through;
    position: absolute;
    top:73px;
    width: 101px;
    height: 42px;
    left:101px;
    font-family: $tipografia-general;
  font-size: 36px;
  color: $color-secundario;
  letter-spacing: 0;
  line-height: 42px;
  }
  .pale {
  position: absolute;
    top:115px;
    width: 212px;
    height: 42px;
    left:16px;
    font-size: 36px;
    white-space:nowrap;
    font-family: $tipografia-general;
    color: $color-secundario;
  letter-spacing: 0;
  line-height: 42px;
  }
  .dot {
    position: absolute;
    top:115px;
    left:236px;
    font-family: $tipografia-general;
  font-size: 36px;
  color: $color-secundario;
 letter-spacing: 0;
 line-height: 42px;
  }button {
    position: absolute;
    top:275px;
    margin-left:16px;
    background-color:$color-buttom ;
    width: 86vw;
    height: 66px;
    text-align: center;
    line-height: 24px;
    font-family: $tipografia-extra;
    color: $color-secundario;
    font-size: 18px;
         &:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    font-family: $tipografia-extra ;
    font-size: 18px;
    color: $color-buttom;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    }
  }
}
/////episodios Spotify
  

    
         
.episodios{
  position: relative;
.paralelograma{
  width: 100%;
    height: 1203.5px;
     background-image: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
    background-image: linear-gradient(to left, #0000FF 0%, #0000A3 100%);
    position: absolute;
    top: 80px;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    }
   
  .episodiostitle{
      position: absolute;
      top:64px;
      margin-left:16px;
      width:157px;
      height:42px;
      font-family: $tipografia-general;
    font-size: 36px;
    color:$color-extra;
    letter-spacing: 0;
    line-height: 42px;
    }
    .iframes{
      display: grid;
      grid-template-rows:1fr;
      align-content: center;
      grid-gap: 11px;
      margin-top: 140px;
      margin-left:11px;
     margin-right:11px;      
      iframe {
          margin-top:11px;
          width:100%;
         border:0;
         height: 200px;
         overflow-y: hidden;
           
}}}

.fono{ 
      position:relative; 
      top:1100px;
     height: 519px; 
    z-index: 10; }           
.parrafo2{
  h2 {
    position:relative;
    margin-top:1200px; 
    left:16px;
    margin-left:16px;
    width:288px;
    height: 84px;
    font-family: $tipografia-general;
    font-size: 36px;
    color:$color-secundario ;
    letter-spacing: 0;
    line-height: 42px;
  }
  
  p{
    position: relative;
    padding-top:25px;
    left:16px;
    width: 288px;
    height:254px;
    white-space: initial;
    font-family: $tipografia-alternativa;
    font-size: 14px;
    color: $color-secundario;
    letter-spacing: 0;
  }
  
}     
.container{
  h3{
    position: relative;
    left:16px;
    width:288px;
    height: 84px;
    font-family:$tipografia-general;
  font-size: 36px;
  color:$color-secundario;
  letter-spacing: 0;
  line-height: 42px;
  }

 .flexcontainer{
  display: flex;
  flex-wrap: wrap;
  box-sizing: content-box;
  position: relative;
  left:0;
  flex-direction: column;
  height: 1458px;
  width: 100vw; 
  align-content: center;  
  img{
    width:100vw;
    height: 243px;
    } 
}
}
.temas{
  position:relative;
  
  
  
  .title {
  font-family:$tipografia-general ;
font-size: 36px;
color: $color-secundario;
letter-spacing: 0;
line-height: 42px;
position: absolute;
top:48px;
left:16px;
width:288px;
height: 84px;
}
.imagenes{
display:grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
 margin-left: 108px;
  width:100%;
  height:698px;
  position: absolute;
  top:171px;
  margin-top:37px;
 img{
    height: 104px;
  width:104px;
  text-align:center;
 }
 }
 .frases{ 
h4{
  font-family: $tipografia-adicional;
font-size: 24px;
color:$color-secundario;
letter-spacing: 0;
margin-bottom: 166px;
white-space:nowrap;
 text-align: center;
 &:nth-child(1){
   position: absolute;
   margin-top:330px;
   margin-left:75px;
 }&:nth-child(2){
  position: absolute;
  margin-top:488px;
  margin-left:75px;
 }&:nth-child(3){
  position: absolute;
  margin-top:665px;
  margin-left:70px;
 }&:nth-child(4){
  position: absolute;
  margin-top:860px;
  margin-left:40px;
 }
 
}
}}

  .final{
    position: relative;
    margin-top: 1000px;
    width:100vw;
    height: 341px;
    left:0px;
   box-sizing: border-box;
    overflow: hidden;
  :after {
    position: absolute;
    content:  '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform-origin: right;
    transform: skewY(-5deg);
    z-index: -1;
} 
  h2{
    position: absolute;
    top:64px ;
   left:16px;
   font-family:$tipografia-general;
   font-size: 36px;
   color:$color-extra;
   letter-spacing: 0;
   text-align: center;
   line-height: 42px;
    width:86vw;
     white-space: initial;
    height: 126px;
    z-index: 1;
   }
  button{
    position: absolute;
    top:226px;
    margin-left: 16px;
    width:89vw;
    height:48px;
    font-family:$tipografia-extra ;
    font-size: 18px;
    color:$color-secundario;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
  background-color: $color-buttom;
  &:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  }
  
  }
  }}
  footer{
    position:relative;
    width: 100vw;
    height:121px;
    display: flex;
    .footer{
      position: absolute;
      font-family:$tipografia-alternativa ;
      left:17vw;
      top: 24px;
      width:227px;
      height:22px;}
      address a:not(span){
      font-family: 'FontAwesome5Brands-Regular';
    font-size: 18px;
    color: $color-secundario;
    letter-spacing: 0;
    line-height: 28px;
      width: 18px;
      height:28px ;
      display: inline-block;
      
    }
    address a span{
      font-family: 'FontAwesome5Brands-Regular';
    font-size: 16px;
    color: $color-secundario;
    letter-spacing: 0;
    line-height: 28px;
      width: 16px;
      height:28px ;
      display: inline-block; 
    }
    address {
      position: absolute;
     top: 62px;
     left: 14vw;
      height: 28px;
      width:214px;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 36px;
    
    } 
  }


  
  
