///Variables 

$color-primario:#000000;
$color-secundario: #060A24;
$color-extra:#FFFFFF;
$color-buttom:#00F3BB;
$color-buttomhover:blue;



$tipografia-general: 'IBM Plex Sans',sans-serif;
$tipografia-alternativa: 'IBM Plex  Mono',monospace;
$tipografia-extra:'IBM Plex Mono-Medium',monospace;
$tipografia-adicional:'IBM Plex Sans-SemiBold', sans-serif