* {
  margin: 0;
  padding: 0;
}

@media(max-width:720px){
  header {
    max-width: calc(100%-32px);
    height: 80px;
    z-index: 3;
  }
  
  header img {
    position: absolute;
    top: 10px;
    margin-left: 16px;
    width: 24px;
    height: 24px;
  }
  header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: blue;
  }
  header ul li a {
    color: white;
    font-family: "IBM Plex Sans",sans-serif;
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  header .menu {
    clear: both;
    max-height: 0;
    position: relative;
    z-index: 4;
    height: 224px;
    width: 100vw;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
  }
  header .menu-btn {
    display: none;
  }
  header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  header .menu-icon {
    cursor: pointer;
    
    float: right;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header .menu-icon:hover {
    cursor: pointer;
  }
  header .menu-icon .nav-icon {
    background-color: #000000;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
  }
  header .menu-icon .nav-icon:before {
    background-color: #000000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    -webkit-transition: all  .2s ease-out;
    transition: all  .2s ease-out;
    position: absolute;
    top: 5px;
  }
  header .menu-icon .nav-icon:after {
    background-color: #000000;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    -webkit-transition: all  .2s ease-out;
    transition: all  .2s ease-out;
    top: -5px;
  }


section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
    top:-45px;
   height: 279px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

section .intro-desktop {
  opacity: 0;
}

section .intro-mobile {
  width: 288px;
  position: absolute;
  left: 16px;
  top: 173px;
  font-family: 'IBM Plex Mono',monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

section .hello {
  width: 85px;
  height: 73px;
  position: absolute;
  top: 73px;
  left: 16px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

section .world {
  text-decoration: line-through;
  position: absolute;
  top: 73px;
  width: 101px;
  height: 42px;
  left: 101px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

section .pale {
  position: absolute;
  top: 115px;
  width: 212px;
  height: 42px;
  left: 16px;
  font-size: 36px;
  white-space: nowrap;
  font-family: 'IBM Plex Sans',sans-serif;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

section .dot {
  position: absolute;
  top: 115px;
  left: 236px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

section button {
  position: absolute;
  top: 275px;
  margin-left: 16px;
  background-color: #00F3BB;
  width:86vw;
  height: 66px;
  text-align: center;
  line-height: 24px;
  font-family: 'IBM Plex Mono-Medium',monospace;
  color: #222222;
  font-size: 18px;
}

section button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  font-family: 'IBM Plex Mono-Medium',monospace;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
}

.episodios {
  position: relative;
}

.episodios .paralelograma {
  width: 100%;
  height:1203.5px;
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(to left, #0000FF 0%, #0000A3 100%);
  position: absolute;
  top: 80px;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
}

.episodios .episodiostitle {
  position: absolute;
  top: 64px;
  margin-left: 16px;
  width: 157px;
  height: 42px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
}

.episodios .iframes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 11px;
  margin-top: 140px;
  margin-left: 11px;
  margin-right: 11px;
}

.episodios .iframes  iframe {
margin-top:11px;
width:100%;
height:200px;
border:0;
overflow-y: hidden;
}

.fono {
  position: relative;
  top: 1100px;
  height: 519px;
  z-index: 10;
}

.parrafo2 h2 {
  position: relative;
  margin-top: 1200px;
  margin-left: 16px;
  width: 288px;
  height: 84px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}


.parrafo2 p {
  position: relative;
  padding-top: 25px;
  left: 16px;
  width: 288px;
  height: 254px;
  white-space: initial;
  font-family: 'IBM Plex Mono',monospace;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
}

.container h3 {
  position: relative;
  left: 16px;
  width: 288px;
  height: 84px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

.container .flexcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1458px;
  width: 100vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .flexcontainer img {
  width: 100vw;
  height: 243px;
}

.temas {
  position: relative;
}

.temas .title {
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 48px;
  left:16px;
  width: 288px;
  height: 84px;
}

.temas .imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-left: 108px;
  width: 100%;
  height: 698px;
  position: absolute;
  top: 171px;
  margin-top: 37px;
}

.temas .imagenes img {
  height: 104px;
  width: 104px;
  text-align: center;
}

.temas .frases h4 {
  font-family: 'IBM Plex Sans-SemiBold', sans-serif;
  font-size: 24px;
  color: #060A24;
  letter-spacing: 0;
  margin-bottom: 166px;
  white-space: nowrap;
  text-align: center;
}

.temas .frases h4:nth-child(1) {
  position: absolute;
  margin-top: 330px;
  margin-left: 75px;
}

.temas .frases h4:nth-child(2) {
  position: absolute;
  margin-top: 488px;
  margin-left: 75px;
}

.temas .frases h4:nth-child(3) {
  position: absolute;
  margin-top: 665px;
  margin-left: 70px;
}

.temas .frases h4:nth-child(4) {
  position: absolute;
  margin-top: 860px;
  margin-left: 40px;
}


.final {
  position: relative;
  margin-top:1000px;
  width:100vw;
  height: 341px;
  left:0px;
 box-sizing: border-box;
  overflow: hidden;
  }
.final:after {
    position: absolute;
    content:  '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform-origin: right;
    transform: skewY(-5deg);
    z-index: -1;
}
  
 .final h2 {
  position: absolute;
  top: 64px;
  left: 16px;
  font-family: 'IBM Plex Sans',sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  width: 86vw;
  white-space: initial;
  height: 126px;
  z-index: 1;
}

.final button {
  position: absolute;
  top: 226px;
  margin-left: 16px;
  width: 89vw;
  height: 48px;
  font-family: 'IBM Plex Mono-Medium',monospace;
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 24px;
  background-color: #00F3BB;
}
 .final button:hover{
background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}
footer {
  position: relative;
  width: 100vw;
  height: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer {
  position: absolute;
  font-family: 'IBM Plex Mono',monospace;
  left: 17vw;
  top: 24px;
  width: 227px;
  height: 22px;
}

footer address a:not(span) {
  font-family: 'FontAwesome5Brands-Regular';
  font-size: 18px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  width: 18px;
  height: 28px;
  display: inline-block;
}

footer address a span {
  font-family: 'FontAwesome5Brands-Regular';
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  width: 16px;
  height: 28px;
  display: inline-block;
}

footer address{
  position: absolute;
  top: 62px;
  left: 14vw;
  height: 28px;
  width: 214px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 36px;
}}
/*# sourceMappingURL=index.css.map */